@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(../images/headerBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header_container {
  display: flex;
}
.header_container--logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.header_container--title {
  color: #DC56C5;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 590px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 52px;
  z-index: 1;
}
.header_searches {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 133px;
}
.header_searches_start {
  position: relative;
}
.header_searches_start--inp {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 118px 10px 30px;
  border: none;
  outline: none;
  max-width: 270px;
}
.header_searches_start--inp::-moz-placeholder {
  color: #939393;
  max-width: 122px;
}
.header_searches_start--inp::placeholder {
  color: #939393;
  max-width: 122px;
}
.header_searches_start--svg {
  position: absolute;
  right: 30px;
  top: 14px;
  cursor: pointer;
}
.header_searches_chs {
  position: relative;
}
.header_searches_chs--inp {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 113px 10px 30px;
  border: none;
  outline: none;
  max-width: 270px;
}
.header_searches_chs--inp::-moz-placeholder {
  color: #939393;
  max-width: 122px;
}
.header_searches_chs--inp::placeholder {
  color: #939393;
  max-width: 122px;
}
.header_searches_chs--svg {
  position: absolute;
  right: 30px;
  top: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header_container--logo {
    max-width: 151px;
    max-height: 179px;
    top: -26px;
  }
  .header_container--title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 353px;
    padding: 40px 0 27px;
  }
  .header_searches {
    padding-bottom: 123px;
  }
}
@media (max-width: 600px) {
  .header_container--logo {
    max-width: 107px;
    top: -45px;
  }
  .header_container--title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 100px 0 25px;
    max-width: 212px;
  }
  .header_searches {
    flex-direction: column;
    align-items: center;
    padding-bottom: 52px;
  }
  .header_searches_start {
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=index.css.map */