//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.header{
    background-image: url(../images/headerBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 1;

    &_container{
        display: flex;
        
        &--logo{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
        }

        &--title{
            color: #DC56C5;
            font-family: Montserrat;
            font-weight: 900;
            font-size: 50px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            max-width: 590px;
            width: 100%;
            margin: 0 auto;
            padding: 40px 0 52px;
            z-index: 1;
        }
    }

    &_searches{
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 113px;

        &_start{
            position: relative;

            &--inp{
                backdrop-filter: blur(20px);
                background: #FFFFFF33;
                border-radius: 20px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                padding: 10px 118px 10px 30px;
                border: none;
                outline: none;
                max-width: 270px;

                &::placeholder{
                    color: #939393;
                    max-width: 122px;
                }
            }

            &--svg{
                position: absolute;
                right: 30px;
                top: 14px;
                cursor: pointer;
            }
        }

        &_chs{
            position: relative;

            &--inp{
                backdrop-filter: blur(20px);
                background: #FFFFFF33;
                border-radius: 20px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 17px;
                line-height: 100%;
                letter-spacing: 0%;
                padding: 10px 113px 10px 30px;
                border: none;
                outline: none;
                max-width: 270px;
                color: #939393;

                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            &--svg{
                position: absolute;
                right: 30px;
                top: 16px;
                cursor: pointer;
            }
        }
    }
}

main{
    background-image: url(../images/component.png);
    background-repeat: no-repeat;
    z-index: 1000;
    background-size: cover;
    background-position: center;

    position: relative;
    z-index: 2;

    .foot-title{
        padding-bottom: 19px;

        text-align: center;
        color: #939393;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

.events{
    padding-top: 16px;
    padding-bottom: 80px;

    &_container{
        max-width: 946px;
        width: 100%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 50px;

        &_card{
            max-width: 194px;
            position: relative;
            cursor: pointer;
            
            &--img{
                width: 180px;
                height: 227px;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
            }

            &--name{
                font-family: Montserrat;
                font-weight: 700;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: #DC56C5;
                padding-top: 5px;
            }

            &--date{
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: #FFFFFF;
                padding-top: 5px;
            }

            &--place{
                font-family: Montserrat;
                font-weight: 600;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: #FFFFFF;
                padding-top: 5px;
            }

            &_rec{
                position: absolute;
                width: 153px;
                height: 143px;
                top: -13px;
                right: -14px;
                z-index: 1;
                border: 1px solid #DC56C54D;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
            }
        }
    }
}

//modal
.modal{
    background-color: #FFF2FD;
    position: fixed;
    max-width: 930px;
    width: 100%;
    z-index: 1000;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    min-height: 98vh;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    &.is-hidden{
        display: none;
    }

    &--closebtn{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1001;
    }

    &--img{
        width: 132px;
        height: 132px;
        border-radius: 100px;
        margin-bottom: 41px;
        margin-top: 3px;
    }

    &_container{
        max-width: 870px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 45px;

        &--banner{
            width: 360px;
            height: 641px;
        }

        &_content{
            max-width: 450px;
            width: 100%;

            &--title{
                font-family: Montserrat;
                font-weight: 600;
                font-size: 24px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                color: #DC56C5;
                margin-bottom: 7px;
            }

            &--info{
                font-family: Montserrat;
                font-weight: 400;
                font-size: 18px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                color: #0E0E0E;
                margin-bottom: 20px;
                max-width: 450px;
            }

            &_sp{
                display: flex;

                & > svg{
                    margin-right: 13px;
                }
            }

            &--btbtn{
                font-family: Montserrat;
                font-weight: 500;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                color: #FFFFFF;
                padding: 10px 20px;
                background-color: #4C00FE;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 20px;
            }
        }
    }

    &_s{
        display: flex;
        justify-content: center;
        margin-bottom: 3px;

        &--morebtn{
            font-family: Montserrat;
            font-weight: 500;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            color: #4C00FE;
            background-color: none;
            border: 1px solid #4C00FE;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}

.minfo{
    max-height: 160px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #e5e5e5;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #4C00FE;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }
}

.pagination{
    max-width: 233px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    padding-bottom: 80px;

    &--btn{
        color: #FFFFFF;
        background: none;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        border: 1px solid #0D0D0D;
        cursor: pointer;
        width: 30px;
        height: 30px;
        outline: none;

        &:hover{
            color: #DC56C5;
            border: 1px solid #DC56C5;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        &.active{
            color: #DC56C5;
            border: 1px solid #DC56C5;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    & > span{
        color: #FFFFFF;
        line-height: 30px;
    }
}

//modal
@media (max-width: 970px){
    .modal{
        max-width: 595px;
        justify-content: flex-start;
        min-height: 93vh;
        
        &--closebtn{
            width: 17px;
            height: 17px;
            top: 25px;
            right: 25px;
        }

        &--img{
            width: 70px;
            height: 70px;
            margin-top: 32px;
        }

        &_container{
            max-width: 533px;

            &--banner{
                width: 233px;
                height: 416px;
                margin-left: 15px;
            }

            &_content{
                max-width: 265px;

                &--title{
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 20px;
                    leading-trim: NONE;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 5px;
                }

                &--info{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    leading-trim: NONE;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 10px;
                }

                &_sp{

                    & > svg{
                        width: 24px;
                        height: 16px;
                    }
                }
            }
        }
    }
}

//main
@media (max-width: 900px){
    .events{
        
        &_container{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

//tablet
@media (max-width: 768px){
    .header{
        &_container{

            &--logo{
                max-width: 151px;
                max-height: 179px;
                top: -26px;
            }

            &--title{
                font-family: Montserrat;
                font-weight: 900;
                font-size: 30px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                max-width: 353px;
                padding: 40px 0 27px;
            }
        }

        &_searches{
            padding-bottom: 123px;
        }
    }
}

//main
@media (max-width: 679px){
    .events{

        &_container{
            grid-template-columns: 1fr 1fr;
            row-gap: 45px;
        }
    }
}

//pre-phone
@media(max-width: 600px){
    .header{
        &_container{
            
            &--logo{
                max-width: 107px;
                top: -45px;
            }

            &--title{
                font-family: Montserrat;
                font-weight: 900;
                font-size: 18px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                padding: 100px 0 25px;
                max-width: 212px;
            }
        }

        &_searches{
            flex-direction: column;
            align-items: center;
            padding-bottom: 52px;

            &_start{
                margin-bottom: 25px;
            }
        }
    }

    main{
        .foot-title{
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 27px;
        }

        .modal{
            max-width: 272px;
            border-top-left-radius: 150px;
            border-bottom-right-radius: 150px;

            &--img{
                width: 102px;
                height: 102px;
                margin-top: 75px;
                margin-bottom: 18px;
            }

            &_container{
                justify-content: center;
                max-width: 243px;
                padding-bottom: 0;

                &--banner{
                    display: none;
                }

                &--title{
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 20px;
                    leading-trim: NONE;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                }

                &--info{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    leading-trim: NONE;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }

            &_s{

                &--morebtn{
                    padding: 10px 3px;
                }
            }
        }
    }

    .minfo{
        max-height: 100px;
    }
}

@media(max-width: 458px){
    main{
        .events{

            &_container{
                row-gap: 30px;

                &_card{
                    max-width: 138px;

                    &--img{
                        width: 128px;
                        height: 161px;
                    }

                    &--name{
                        font-family: Montserrat;
                        font-weight: 700;
                        font-size: 14px;
                        leading-trim: NONE;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: center;
                    }

                    &--date{
                        font-family: Montserrat;
                        font-weight: 400;
                        font-size: 14px;
                        leading-trim: NONE;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: center;
                    }
                    
                    &--place{
                        font-family: Montserrat;
                        font-weight: 600;
                        font-size: 12px;
                        leading-trim: NONE;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }

                    &_rec{
                        max-width: 109px;
                        max-height: 101px;
                        top: -10px;
                        right: 0px;
                    }
                }
            }
        }
    }
}